/* _____Nav BAr----------------------------------- */
@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body{
	margin:0px;
	padding: 0px;
	/* font-family: poppins; */
  font-family: 'Bungee';
  font-size: 22px;
	height: 100%;
  background-image: url('/tech.gif');
  /* background: rgb(34,148,195) ; */
  /* background: linear-gradient(0deg, rgba(34,148,195,1) 0%, rgba(250,250,250,1) 100%); */
  background-repeat: repeat;
  background-position: center;
  /* background-size: cover; */
  overflow-x:hidden ;
}

.logonav{
  width: 70px;
  background-color: white;
  border-radius: 50%;
}
.wrapper {
  height: 18vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  
  width: 19ch;
  animation: typing 1.5s steps(18), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  /* border-right: 3px solid; */
  font-family: 'Merriweather', serif;
  font-size: 2em;
  /* margin-bottom: 608px; */
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

/* _____Nav BAr----------------------------------- */
/* xxxxxxxxxxxxx---------------xxxxxxxxxxxxx */


/* ------------banner ---------------- */
.cuc {
  display: block;
  margin-top : 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 400px;
  height : 400px;
  max-width: 100%;
  height: auto;
  filter: invert(100%);

}

#birdRL{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: relative;
  float : right ;
  right: -35%;  
  width : 9% ; height :auto;
  filter: invert(100%);
  }
#birdLR
  {
    position: relative;
    float : left ;  
    left: -40%;
    width : 9% ; height :auto;
    filter: invert(100%);

  }
  
  @media screen and (max-width: 600px) {
  #birdLR{
    width : 13% ; height :auto;
  }
  #birdRL{
    width : 13% ; height :auto;
  }
  } 

#banner
{
  text-align: center;
}

/* ------------banner ---------------- */

/* --------------header  ---------- */
#name{
  color:black;
  padding: 20px 100px;
  background-color:lightgoldenrodyellow;
  /* font-family: 'Monoton'; */
  text-decoration-style: wavy;
  border-radius: 25%;
  font-family: 'New Rocker';
}
#heading
{
  text-align: center;
  color: white;
}
#catago{
  background-color: lightgrey;
  border: 10px solid white;
  color: black;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 20px;
  margin: 50px;
  font-size: 20px;
 
}
/* --------------header  ---------- */


/* --------Wrapper------------ */

/* right to left wrapper     */
/* right to left wrapper     */

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}

.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  border-radius: 20px;
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;

  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;

  }
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}


/* right to left wrapper     */
/* right to left wrapper     */


/* left to right wrapper    */
/* left to right wrapper    */


.blogR-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
  
}

.blogR-slider__img {
  width: 300px;
  flex-shrink: 0;
  margin: auto;
  height: 300px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 20px;
  transform: translateX(530px);
  overflow: hidden;
} 

.blogR-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  border-radius: 20px;
  opacity: 0.8;
  
} 
.blogR-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
  text-align: right;
  margin-right: auto;
  /* transform: translateX(-480px); */
}

.blogR-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
  text-align: right;

}

.blogR-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
  text-align: right;
} 
 .blogR-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  transform: translateX(280px);
  
}

.blogR-slider__item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .blogR-slider {
    max-width: 680px;
    height: 400px;
  }
  #blogR_cont .blogR-slider__text{
    /* background-color: #000; */
    transform: translateX(300px);
  }
  #blogR_cont .blogR-slider__title{
    /* background-color: #000; */
    transform: translateX(300px);
  }
  #blogR_cont .blogR-slider__code{
    /* background-color: #000; */
    transform: translateX(300px);
  }
  #blogR_cont .blogR-slider__button{
    /* background-color: #000; */
    transform: translateX(300px);
    position: right;
  }
}
@media screen and (max-width: 768px) {
  .blogR-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
  
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blogR-slider {
    height: 350px;
  }
  #blogR_cont .blogR-slider__text{
    /* background-color: #000; */
    transform: translateX(300px);
  }
  #blogR_cont .blogR-slider__title{
    /* background-color: #000; */
    transform: translateX(300px);
  }
  #blogR_cont .blogR-slider__code{
    /* background-color: #000; */
    transform: translateX(300px);
  }
  #blogR_cont .blogR-slider__button{
    /* background-color: #000; */
    transform: translateX(300px);
    position: right;
  }
  
}

@media screen and (max-width: 768px) {
  .blogR-slider__item {
    flex-direction:column;
  }
  #blogR_cont .blogR-slider__text{
    /* background-color: #000; */
    transform: translateX(300px);
  }
  #blogR_cont .blogR-slider__title{
    /* background-color: #000; */
    transform: translateX(300px);
  }
  #blogR_cont .blogR-slider__code{
    /* background-color: #000; */
    transform: translateX(300px);
  }
  #blogR_cont .blogR-slider__button{
    /* background-color: #000; */
    transform: translateX(530px);
  
  }
}

@media screen and (max-width: 768px) {
  .blogR-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blogR-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blogR-slider__img {
    height: 270px;
  }
}

#blogR_cont{
  /* background-color: #000; */
  transform: translateX(-300px);
}


/* left to right wrapper    */
/* left to right wrapper    */


#android{
  margin-top: 100px;
  /* margin-bottom: 400px; */
}
#android .blog-slider__button{
  background-image: linear-gradient(147deg, #92fe39 0%, #fdf038  74%);
  
}
#android .blog-slider__img:after {
  background-image: linear-gradient(147deg, #92fe39 0%, #fdf038 74%);

}
#dl{
  margin-top: 100px;
  /* margin-bottom: 400px; */
}
#dl .blogR-slider__button{
  background-image: linear-gradient(147deg,  #39d7fe 0%, #fd38fd  74%); 
}
#dl .blogR-slider__img:after{
    background-image: linear-gradient(147deg, #39d7fe 0%, #fd38fd 74%);
  }

#deptcore{
  margin-top: 100px;
  /* margin-bottom: 400px; */
}
#deptcore .blog-slider__button{
  background-image: linear-gradient(147deg,  #837e83 0%, #feaf39 74%); 
}
#deptcore .blog-slider__img:after{
    background-image: linear-gradient(147deg,#837e83 0%, #feaf39 74%);
  }
#ml{
  margin-top: 100px;
  /* margin-bottom: 400px; */
}
#ml .blogR-slider__button{
  background-image: linear-gradient(147deg,  #39fef4 0%, #dad6da  74%); 
}
#ml .blogR-slider__img:after{
    background-image: linear-gradient(147deg, #39fef4 0%, #dad6da 74%);
    /* background-image: linear-gradient(147deg, #dad6da 0%, #39fef4 74%); */
  }
#webdev{
  margin-top: 100px;
  /* margin-bottom: 400px; */
}
#webdev .blog-slider__button{
  background-image: linear-gradient(147deg,#fe6039 0%, #fdfa38  74%); 
}
#webdev .blog-slider__img:after{
    background-image: linear-gradient(147deg, #fe6039 0%, #fdfa38 74%);
  }
#othercat{
  margin-top: 100px;
  margin-bottom: 200px;
}
#othercat .blog-slider__button{
  background-image: linear-gradient(147deg,  rgb(235, 27, 27) 0%, rgb(67, 192, 230)  74%); 
}
#othercat .blog-slider__img:after{
    background-image: linear-gradient(147deg, rgb(235, 27, 27) 0%, rgb(67, 192, 230) 74%);
  }

/*---------- .wrapper-------- */



/*---------------------- -------------------foooter style --------------------------------- */
  /* <link href='https://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet'> */
 
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  .footer-59391 {
    border-top: 1px solid #efefef;
    background-color: #fff;
    height:270px;
    /* background-color: black; */
    font-family: "Poppins", sans-serif;
    padding: 4rem 0; }

  .footer-59391 .site-logo a {
    font-size: 30px;
    color: #3e64ff;
    font-weight: 900; }

  .footer-59391 .nav-links li {
    display: inline-block; }

  .footer-59391 .nav-links li a {
    color: #777;
    padding: 10px; }

.footer-59391 .nav-links li a:hover {
  color: #3e64ff; }

.footer-59391 .nav-links.nav-left li:first-child {
  padding-left: 0; }

.footer-59391 .nav-links.nav-right li:last-child {
  padding-right: 0; }

.footer-59391 .copyright {
  border-top: 1px solid #efefef;
  padding-top: 50px;
  text-align: center;
  color: #777; }

.footer-59391 .subscribe .form-group {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative; }

  .footer-59391 .subscribe .form-group input[type="email"] {
    height: 45px;
    border: none;
    background: #e6e6e6; }

  .footer-59391 .subscribe .form-group input[type="email"]:focus, .footer-59391 .subscribe .form-group input[type="email"]:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

  .footer-59391 .subscribe .form-group input[type="email"]::-webkit-input-placeholder {
    color: #b3b3b3;
    font-size: 14px; }

  .footer-59391 .subscribe .form-group input[type="email"]::-moz-placeholder {
    color: #b3b3b3;
    font-size: 14px; }

  .footer-59391 .subscribe .form-group input[type="email"]:-ms-input-placeholder {
    color: #b3b3b3;
    font-size: 14px; }

  .footer-59391 .subscribe .form-group input[type="email"]:-moz-placeholder {
    color: #b3b3b3;
    font-size: 14px; }

  .footer-59391 .subscribe .form-group button {
    position: absolute;
    border: none;
    background: none;
    font-size: 1.5rem;
    /* -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); */
    top: .5rem;
    right: .3rem;
    line-height: 0; }

  .footer-59391 .subscribe .form-group button:focus, .footer-59391 .subscribe .form-group button:active {
    outline: none; }

.footer-59391 .social li {
  display: inline-block;
  position: relative; }

.footer-59391 .social li a {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  /* background-color: #2f90d1; */
  color: #333333; }

.footer-59391 .social li a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  
/* .footer-59391 .social li a:hover {
  color: black; 
  color: rgb(218, 87, 47); 
  background-color: hotpink;
} */
  
#content{
  /* background-color: gray; */
  width: 600vh;
  /* padding: 40px 40px; */
}
#mail {
  color:#dc4e41 ;
  /* background-color: teal; */
  /* background-color: white; */
}
#twitter a:hover{
  background: #55acee;
  color: white; 
}
#twitter a{
  /* background: white; */
  color:  #55acee;
}

#github a:hover{
  background: black;
  color: white;
}
#facebook a:hover{
  background: #3b5998;
  color: white;
}
#facebook a{
  /* background: #3b5998; */
  color: #3b5998;
}
#linkedin a:hover{
  background: #0077b5;
  color: white;
}
#linkedin a{
  /* background: #0077b5; */
  color: #0077b5;
}



/* ------------------------------back to top button----------------------------- */
.back-to-top {
  position: relative;
  z-index: 2; }
  .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .back-to-top .btn-dark:hover {
      cursor: pointer;
      background: #4273fa;
      border-color: #FA6742; }
      